name: Continuous Integration

on:
  push:
    branches:
      - 'master'
      - 'main'
  pull_request:
    branches:
      - '**'

env:
  PY_COLORS: "1"

permissions:
  contents: read

jobs:
  Linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Verify CLI help
        run: |
          python3 ./test/cdc_speed_test.py --help

  macOS:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Verify CLI help
        run: |
          python3 ./test/cdc_speed_test.py --help

  Windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Verify CLI help
        run: |
          python .\test\cdc_speed_test.py --help

  Lint:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - { os: ubuntu-latest,  python-version: "3.x" }

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pylint

      - name: Run pylint error check
        run: |
          pylint -E $(git ls-files '*.py')
          
      - name: Assess pylint score
        run: |
          pylint --fail-under=9 test/device_under_test.py
          pylint --fail-under=9 test/cdc_speed_test.py
